[Unit]
Description=Luna Web Service
ConditionPathExists=/usr/share/luna2-daemon/lunaserver.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=python3 /usr/share/luna2-daemon/lunaserver.py

[Install]
WantedBy=multi-user.target
