include requirements.txt
include VERSION.txt
include LICENSE.txt
include README.md
include daemon/*
include daemon/base/*
include daemon/common/*
include daemon/config/*
include daemon/config/third-party/*
include daemon/files/*
include daemon/log/*
include daemon/routes/*
include daemon/templates/*
include daemon/utils/*
recursive-include daemon/plugins *.py
recursive-include daemon/plugins *.templ
