include requirements.txt
include VERSION.txt
include LICENSE.txt
include README.md
include daemon/*
include daemon/base/*
include daemon/common/*
include daemon/config/*
include daemon/config/third-party/*
include daemon/files/*
include daemon/log/*
include daemon/routes/*
include daemon/templates/*
include daemon/utils/*
include daemon/plugins/control/*
include daemon/plugins/boot/bmc/*
include daemon/plugins/boot/detection/*
include daemon/plugins/boot/scripts/*
include daemon/plugins/boot/network/*
include daemon/plugins/boot/provision/*
include daemon/plugins/boot/localinstall/*
include daemon/plugins/boot/roles/*
include daemon/plugins/boot/*
include daemon/plugins/osimage/operations/osclone/*
include daemon/plugins/osimage/operations/osgrab/*
include daemon/plugins/osimage/operations/image/*
include daemon/plugins/osimage/operations/ospush/*
include daemon/plugins/osimage/operations/other/*
include daemon/plugins/osimage/operations/*
include daemon/plugins/osimage/other/*
include daemon/plugins/osimage/filesystem/*
include daemon/plugins/osuser/*
include daemon/plugins/node/*
include daemon/plugins/group/*
include daemon/plugins/export/*
