#!ipxe
{% autoescape None %}
set timeout 10000
set idx:int32 0

isset ${skipifconf} && goto skipifconf || goto loop

:loop isset ${net${idx}/mac} || goto loop_done
  ifconf --timeout 15000 -c dhcp net${idx} && set hwdata ${net${idx}/mac} && goto ${net${idx}/next-server} || ifclose net${idx} && inc idx && goto loop
 
:loop_done
goto noif

:skipifconf
echo skipping interface configuration
isset ${netX/ip} && goto start || goto dhcp

:dhcp
echo requesting dhcp...
dhcp
sleep 3
goto skipifconf

{% for IP in LUNA_CONTROLLERS %}
:{{ IP }}
goto start
{% endfor %}
 
:{{ LUNA_CONTROLLER }}
goto start

:{{ LUNA_BEACON }}
goto start

:start
set esc:hex 1b
set cls ${esc:string}[2J

:menu
menu Luna2 boot-loader
item --key a ask (A)sk Luna-server for node name
item --key u unassigned Choose an (u)nassigned node from the list
item --key l choose Choose and override a node from the (l)ist
item --key g category Choose first available node in category or (g)group
item --key e enter (E)nter node name
item --key s shell Drop to iPXE (s)hell
item --key c config Run (c)onfig
item --gap --
item --key m memtest86 (m)emtest86
item --key k kickstart default (k)ickstart boot
item --key q rescue (q)rescue environment
item --gap --
item --key r reboot (R)eboot
item --key x exit  E(x)it and continue BIOS boot order
choose --default ask --timeout ${timeout} target && goto ${target}
goto menu

:ask
{%- if ':' in LUNA_CONTROLLER %}
chain --replace {{ WEBSERVER_PROTOCOL }}://[{{ LUNA_CONTROLLER }}]:{{ WEBSERVER_PORT }}/boot/search/mac/${hwdata} || goto error
{%- else %}
chain --replace {{ WEBSERVER_PROTOCOL }}://{{ LUNA_CONTROLLER }}:{{ WEBSERVER_PORT }}/boot/search/mac/${hwdata} || goto error
{%- endif %}

:unassigned
menu Choose an unassigned node
item back <--
{% for node in AVAILABLE_NODES %}
item {{ node }} {{ node }}
{% endfor %}
choose nodename && goto setnodename || goto error

:choose
menu Choose and override a node
item back <--
{% for node in NODES %}
item {{ node }} {{ node }}
{% endfor %}
choose nodename && goto setnodename || goto error

:category
menu Choose first available node in category
item back <--
{% for group in GROUPS %}
item {{ group }} {{ group }}
{% endfor %}
choose groupname && goto setgroupname || goto error

:setnodename
iseq ${nodename} back && goto menu ||
{%- if ':' in LUNA_CONTROLLER %}
chain {{ WEBSERVER_PROTOCOL }}://[{{ LUNA_CONTROLLER }}]:{{ WEBSERVER_PORT }}/boot/manual/hostname/${nodename}/${hwdata} || goto error
{%- else %}
chain {{ WEBSERVER_PROTOCOL }}://{{ LUNA_CONTROLLER }}:{{ WEBSERVER_PORT }}/boot/manual/hostname/${nodename}/${hwdata} || goto error
{%- endif %}

:setgroupname
iseq ${groupname} back && goto menu ||
{%- if ':' in LUNA_CONTROLLER %}
chain {{ WEBSERVER_PROTOCOL }}://[{{ LUNA_CONTROLLER }}]:{{ WEBSERVER_PORT }}/boot/manual/group/${groupname}/${hwdata} || goto error
{%- else %}
chain {{ WEBSERVER_PROTOCOL }}://{{ LUNA_CONTROLLER }}:{{ WEBSERVER_PORT }}/boot/manual/group/${groupname}/${hwdata} || goto error
{%- endif %}

:enter
echo ${cls}
echo -n Node name:  && read nodename
isset ${nodename} && goto setnodename || goto menu
goto menu

:rescue
{%- if ':' in LUNA_CONTROLLER %}
sanboot --no-describe --drive 0x81 {{ WEBSERVER_PROTOCOL }}://[{{ LUNA_CONTROLLER }}]:{{ WEBSERVER_PORT }}/files/systemrescue.iso || goto error
#set base {{ WEBSERVER_PROTOCOL }}://[{{ LUNA_CONTROLLER }}]:{{ WEBSERVER_PORT }}
{%- else %}
sanboot --no-describe --drive 0x81 {{ WEBSERVER_PROTOCOL }}://{{ LUNA_CONTROLLER }}:{{ WEBSERVER_PORT }}/files/systemrescue.iso || goto error
#set base {{ WEBSERVER_PROTOCOL }}://{{ LUNA_CONTROLLER }}:{{ WEBSERVER_PORT }}
{%- endif %}
#initrd ${base}/files/systemrescue.iso
#chain ${base}/files/memdisk iso raw || goto error
#chain ${base}/files/memdisk iso || goto error
goto menu

:shell
echo ${cls}
help
shell
goto menu

:config
echo ${cls}
config
goto menu

# :dosboot  comment "

:reboot
echo ${cls}
echo Rebooting...
sleep 1
reboot

:exit
echo ${cls}
echo Continuing BIOS boot order...
sleep 1
exit

:error
echo Cannot get answer from server
sleep 3
goto menu

:noif
echo Failed to bring interface live
sleep 3
goto menu

{% endautoescape  %}
