#!ipxe
{% autoescape None %}
imgfetch -n kernel http://{{ LUNA_CONTROLLER }}:{{ WEBSERVER_PORT }}/files/{{ OSIMAGE_KERNELFILE }}
imgload kernel
imgargs kernel root=luna luna.bootproto=static luna.mac={{ NODE_MAC_ADDRESS }} luna.ip={{ NODE_IPADDRESS }} luna.url={{ LUNA_API_PROTOCOL }}://{{ LUNA_CONTROLLER }}:{{ LUNA_API_PORT }} luna.node={{ NODE_NAME }} luna.hostname={{ NODE_HOSTNAME }} luna.service={{ NODE_SERVICE }}  initrd=initrd.img
imgfetch --name initrd.img http://{{ LUNA_CONTROLLER }}:{{ WEBSERVER_PORT }}/files/{{ OSIMAGE_INITRDFILE }}
imgexec kernel
{% endautoescape  %}
